#### Artificial Intelligence Lab 6

##### Name : Hamza Mehmood

##### Roll : SP21110

##### Class : BSSE 5E

##### Topic :

##### Machine Learning Basics

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv(r"G:\BS-SE\5th Semester\AI\Labs\Hamza\iris_data.csv")

In [14]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
features = data.drop("species", "columns")  # type: ignore
features.head()

C:\Users\Hamza._.Dev\AppData\Local\Temp\ipykernel_11168\1613046281.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  features=data.drop('species','columns') # type: ignore

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
labels = data["species"]
labels.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [17]:
# x=features, y:labels
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(features, labels, test_size=0.2)

In [18]:
xtrain.head()

     sepal_length  sepal_width  petal_length  petal_width
92            5.8          2.6           4.0          1.2
78            6.0          2.9           4.5          1.5
107           7.3          2.9           6.3          1.8
35            5.0          3.2           1.2          0.2
95            5.7          3.0           4.2          1.2

In [19]:
ytrain.head()

92     versicolor
78     versicolor
107     virginica
35         setosa
95     versicolor
Name: species, dtype: object

In [20]:
print(len(features))
print(len(xtrain))
print(len(xtest))

150
120
30

In [21]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=3)

In [22]:
# SVM
from sklearn.svm import SVC

clf = SVC(kernel="linear")

In [23]:
clf.fit(xtrain, ytrain)

SVC(kernel='linear')

In [24]:
results = clf.predict(xtest)

In [25]:
results

array(['setosa', 'virginica', 'setosa', 'setosa', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'versicolor'],
      dtype=object)

In [26]:
from sklearn.metrics import accuracy_score

print("Acc (%): ", accuracy_score(results, ytest) * 100)

Acc (%):  100.0

In [27]:
from sklearn.metrics import confusion_matrix

confusion_matrix(results, ytest)

array([[12,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  6]], dtype=int64)

In [28]:
from sklearn.metrics import classification_report

print(classification_report(results, ytest))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        12
  versicolor       1.00      1.00      1.00        12
   virginica       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30